.RedAnswer,
.BlueAnswer {
    display: flex;
    width: 100vw;
    height: 50vh;
    font-family: Poppins;
    font-size: 2em;
    align-items: center;
    justify-content: center;
}

.RedAnswer p,
.BlueAnswer p {
    margin: 5vh 5vw 5vh 5vw;
    color: white;
}

.RedAnswer {
    background-color: maroon;
}

.BlueAnswer {
    background-color: midnightblue;
}